<header>
    <h1>Rocky Mountain Tails - Walk Reports</h1>
    <nav><a href="/notes"> All Notes</a>
        <a href="/notes/new">New Notes</a>
        <a href="/logout">Logout</a>


    </nav>

    <hr>




</header>